SDK_PRODUCT_NAME = TrueWatchSDK
SDK_PRODUCT_MODULE_NAME = TrueWatchSDK
SDK_PRODUCT_BUNDLE_IDENTIFIER = com.ft.sdk.TrueWatchSDK

SESSION_REPLAY_PRODUCT_NAME = TrueWatchSessionReplay
SESSION_REPLAY_PRODUCT_MODULE_NAME = TrueWatchSessionReplay
SESSION_REPLAY_PRODUCT_BUNDLE_IDENTIFIER = com.ft.sdk.TrueWatchSessionReplay

WIDGET_EXTENSION_PRODUCT_NAME = TrueWatchWidgetExtension
WIDGET_EXTENSION_PRODUCT_MODULE_NAME = TrueWatchWidgetExtension
WIDGET_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER = com.ft.sdk.TrueWatchWidgetExtension
